@model ProyectoDia.DataAccess.Paciente

@{
    ViewData["Title"] = "Detalle paciente";
    List<SelectListItem> dropdownVisitasMedicas = (List<SelectListItem>)ViewBag.listaDropDownVM;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Pacientes CRUD</h1>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./images/MYR.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Informacion del paciente</h5>
                <p class="card-text">Tarjeta Sanitaria:<small class="text-muted">@Html.DisplayFor(m => m.TarjetaSanitaria)</small></p>
                <p class="card-text"> Nombre:<small class="text-muted"> @Html.DisplayFor(m => m.Nombre)</small></p>
                <p class="card-text"> Apellidos:<small class="text-muted"> @Html.DisplayFor(m => m.Apellido)</small></p>
                <p class="card-text"> Fecha de nacimiento:<small class="text-muted"> @Html.DisplayFor(m => m.FechaNacimiento)</small></p>
                <p class="card-text"> Telefono:<small class="text-muted"> @Html.DisplayFor(m => m.Telefono)</small></p>
                <p class="card-text"> Direccion:<small class="text-muted"> @Html.DisplayFor(m => m.Direccion)</small></p>
             
            </div>
        </div>
    </div>
</div>

<!--BOTON PARA VOLVER A INDEX-->
<div>
    <a asp-action="Index">Volver a lista</a>
</div>

