@model IEnumerable<ProyectoDia.DataAccess.Paciente>
@{
    ViewData["Title"] = "listarPacientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar Pacientes</h1>


<!-- List of patients-->
<div class="row">
    <div class="col-12">
        <div class="table">
            <!--model access, if there is any register-->
            @if (Model.Count() > 0)
            {
                //create the table
                <table class="table table-bordered" id="tblPacientes" width="100%" cellspacing="0">
                    <!--accesing the fields of the table-->
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Id)</th>
                            <th>@Html.DisplayNameFor(m => m.TarjetaSanitaria)</th>
                            <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                            <th>@Html.DisplayNameFor(m => m.Apellido)</th>
                            <th>@Html.DisplayNameFor(m => m.FechaNacimiento)</th>
                            <th>@Html.DisplayNameFor(m => m.Direccion)</th>
                            <th>@Html.DisplayNameFor(m => m.Telefono)</th>
                            <th>@Html.DisplayNameFor(m => m.MedicoCabecera)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <!--accesing the data of the registers-->
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="background-color: transparent">
                                <td>@Html.DisplayFor(m => item.Id)</td>
                                <td>@Html.DisplayFor(m => item.TarjetaSanitaria)</td>
                                <td>@Html.DisplayFor(m => item.Nombre)</td>
                                <td>@Html.DisplayFor(m => item.Apellido)</td>
                                <td>@Html.DisplayFor(m => item.FechaNacimiento)</td>
                                <td>@Html.DisplayFor(m => item.Direccion)</td>
                                <td>@Html.DisplayFor(m => item.Telefono)</td>
                                <td>@Html.DisplayFor(m => item.MedicoCabecera.Nombre)</td>
                                <td>
                                    <!--botones para las acciones sobre los registros -->

                                    @if (item.Activo == true)
                                    {

                                        <a class="btn btn-success" asp-action="CambiarEstado" asp-route-id="@item.Id"><i class="fas fa-solid fa-trash-can"></i> Desactivar</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger" asp-action="CambiarEstado" asp-route-id="@item.Id"><i class="fas fa-solid fa-trash-can"></i> Activar</a>


                                    }

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            }
            else
            {
                <p>No hay registros</p>
            }
        </div>
        <!--BOTON PARA VOLVER A HOME-->
        <div>
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Volver</a>
        </div>
    </div>
    </div>
<!--js para llamar al datatable-->
@section Scripts{
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tblPacientes').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>


}



